# =============================================================================
#  Docker socket
# =============================================================================
export DOCKER_SOCK=/var/run/docker.sock

# =============================================================================
#  Coding agents
# =============================================================================
export ANTHROPIC_VERTEX_PROJECT_ID=
export GOOGLE_CLOUD_PROJECT=
